@import '../../styles/variables.scss';
.globalSection {
    width: 65%;
    padding-bottom: 20px;
    padding-left: 8%;
    margin-top: -70px;
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    z-index: 1;
    .total_crypto_card {
        width: 180px;
        height: 250px;
        margin: 15px;
        transition: 0.3s ease-in;
        .icon {
            color: $primary-color;
        }
        &.tmc {
            width: 155px;
        }
        .total_crypto_card_inner {
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h5 {
                font-size: 18px;
                font-weight: 500;
            }
        }

        &:hover {
            transform: scale(0.95);
            background-color: $primary-color;
            .icon {
                color: rgba($background-color, 0.8);
            }
        }
    }
    .total_marketCap_card {
        width: 85px;
        height: 250px;
        position: relative;
        transition: 0.2s ease-in;

        .priceTag_wrapper {
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
        }
        h5 {
            width: 250px;
            height: 80px;
            font-size: 18px;
            font-weight: 500;
            position: absolute;
            top: 0;
            left: -70%;
            transform: rotate(-90deg);
        }
        &:hover {
            transform: scale(0.95);
            background-color: $primary-color;
        }
    }
}
