@import '../../styles/variables.scss';

.bg_exchange {
    width: 100%;
    min-height: 100vh;
    padding: 10px 8%;
    background-color: $background-color;
    .exchange_table {
        background-color: white;
        box-shadow: rgba(0,0,0,0.3) 5px 5px 2px;
        padding: 0 10px 0 10px;
        .table_cell {
            font-weight: 800;
        }
    }
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: white;
        z-index: 1;
    
        .subheading {
            margin-top: 10px;
            width: 500px;
            font-size: 22px;
        }
        .top_crypto_img {
            width: 40%;
            margin-left: 50px;
        }
    }
}