@import '../../styles/variables.scss';
.Cont {
    width: 100%;
    background-color: black;
    color: white;

}
.photoCell {
    width: 40%;
    margin-right: -40px;
    border-color: black;
    font-weight: bolder;
    float: right;
}
   
.cell {

    color:white;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    border-color: black;
    border: none;
    &:hover {
        color: $golden-color;
    }
}
.font {
    padding-left: 60px;
    color: $golden-color;
   font-weight: bold;
   padding-bottom: 10px;
    
}

.first {
    border-color: black;
    font-size: 14px;
    padding-top: 5px;
    &:hover {
        color: $golden-color;
    }
}
.photo {
    padding: top 10px;
    padding-left: 30px;
}
.logoText {
    color: $golden-color;
    
}