@import '../../styles/variables.scss';
.advertisement {
    padding: 50px 8%;
    margin-top: 2%;
    background-color: #feb243;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .left {
        width: 60%;
        .ad_title {
            display: flex;
            align-items: center;
            color: $background-color;
            margin-bottom: 20px;
            h3 {
                font-size: 68px;
                font-weight: 600;
                line-height: 100px;
            }
        }

        .features {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            .tag {
                margin: 10px 20px 10px 0;
                padding: 15px 35px;
                border-radius: 50px;
                background-color: rgba(#fffcf9, 0.35);
                border: 4px solid $background-color;
                p {
                    color: $background-color;
                    font-size: 30px;
                    font-weight: 500;
                }
            }
        }
        h4 {
            font-size: 68px;
            font-weight: 600;
            line-height: 100px;
            background: linear-gradient(to right, red, $primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .right {
        width: 40%;
        img {
            width: 100%;
        }
    }
}
