@import '../../styles/variables.scss';
.row {
    &:hover {
        background-color: $primary-color;
    }
    .row_text {
        color: white;
    }
}

.expand_cell {
    border-bottom: none; 
    padding: 8px;
    .expand_text {
        color:white;
    }
}

a {
    color: $primary-color;
}