@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import './styles/variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.section_heading {
    font-size: 60px;
    font-weight: 600;
    margin-top: -10px;
}
h1,
h2,
h3,
h4,
h5,
p {
    &.green {
        color: $secondary-color !important;
    }
}
h1,
h2,
h3,
h4,
h5,
p {
    &.pink {
        color: $third-color !important;
    }
}
a {
    text-decoration: none;
}
